.booking-date {
  margin-bottom: 10px;
}

.booking-total-price {
  font-size: 16px;
  color: #333;
}

.booking-delete {
  margin-top: 2px;
}

// .container {
//   max-width: 1200px; /* Adjust as needed */
// }

.d-flex.flex-wrap.justify-content-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.apartment-card {
 margin-right: 10px;
}
