<div class="main-layout">

<div class="description-block">
            <h1>Text Description</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac erat euismod, vestibulum eros in, pharetra nisl. Suspendisse potenti. Curabitur eget dictum magna, non aliquet leo. In vehicula suscipit libero a laoreet. Vivamus eu risus arcu. Ut blandit efficitur libero a aliquam. Nam tincidunt erat at felis sodales, sed ultricies sapien sagittis. Integer finibus urna sit amet ante scelerisque, a venenatis leo viverra.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac erat euismod, vestibulum eros in, pharetra nisl. Suspendisse potenti. Curabitur eget dictum magna, non aliquet leo. In vehicula suscipit libero a laoreet. Vivamus eu risus arcu. Ut blandit efficitur libero a aliquam. Nam tincidunt erat at felis sodales, sed ultricies sapien sagittis. Integer finibus urna sit amet ante scelerisque, a venenatis leo viverra.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac erat euismod, vestibulum eros in, pharetra nisl. Suspendisse potenti. Curabitur eget dictum magna, non aliquet leo. In vehicula suscipit libero a laoreet. Vivamus eu risus arcu. Ut blandit efficitur libero a aliquam. Nam tincidunt erat at felis sodales, sed ultricies sapien sagittis. Integer finibus urna sit amet ante scelerisque, a venenatis leo viverra.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac erat euismod, vestibulum eros in, pharetra nisl. Suspendisse potenti. Curabitur eget dictum magna, non aliquet leo. In vehicula suscipit libero a laoreet. Vivamus eu risus arcu. Ut blandit efficitur libero a aliquam. Nam tincidunt erat at felis sodales, sed ultricies sapien sagittis. Integer finibus urna sit amet ante scelerisque, a venenatis leo viverra.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac erat euismod, vestibulum eros in, pharetra nisl. Suspendisse potenti. Curabitur eget dictum magna, non aliquet leo. In vehicula suscipit libero a laoreet. Vivamus eu risus arcu. Ut blandit efficitur libero a aliquam. Nam tincidunt erat at felis sodales, sed ultricies sapien sagittis. Integer finibus urna sit amet ante scelerisque, a venenatis leo viverra.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac erat euismod, vestibulum eros in, pharetra nisl. Suspendisse potenti. Curabitur eget dictum magna, non aliquet leo. In vehicula suscipit libero a laoreet. Vivamus eu risus arcu. Ut blandit efficitur libero a aliquam. Nam tincidunt erat at felis sodales, sed ultricies sapien sagittis. Integer finibus urna sit amet ante scelerisque, a venenatis leo viverra.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac erat euismod, vestibulum eros in, pharetra nisl. Suspendisse potenti. Curabitur eget dictum magna, non aliquet leo. In vehicula suscipit libero a laoreet. Vivamus eu risus arcu. Ut blandit efficitur libero a aliquam. Nam tincidunt erat at felis sodales, sed ultricies sapien sagittis. Integer finibus urna sit amet ante scelerisque, a venenatis leo viverra.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac erat euismod, vestibulum eros in, pharetra nisl. Suspendisse potenti. Curabitur eget dictum magna, non aliquet leo. In vehicula suscipit libero a laoreet. Vivamus eu risus arcu. Ut blandit efficitur libero a aliquam. Nam tincidunt erat at felis sodales, sed ultricies sapien sagittis. Integer finibus urna sit amet ante scelerisque, a venenatis leo viverra.</p>

            <p>More content...</p>
            <p>Even more content...</p>
            <!-- Add more paragraphs as needed to create a long text block -->
        </div>
        <div class="sticky-form">
            <form action="#" method="POST">
                <h2><%= t "pages.index.title" %></h2>
                <h2>Contact Us</h2>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
                
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

