





<div class="container">
  <div style="display: flex; justify-content: space-between;">
    <!-- Левая колонка -->
    <div style="display: flex; flex-direction: column;">
      <!-- Карточка 1 -->
      <div class="card">
        <div id="left-card1">
          <p>
            <strong>Title:</strong>
            <%= @apartment.title %>
          </p>
          <p>
            <strong>Address:</strong>
            <%= @apartment.address %>
          </p>
           <p>
            <strong>Description:</strong>
            <%= @apartment.description %>
          </p>
          <div>
            <% if @apartment.photos.attached? %>
              <% @apartment.photos.each do |photo| %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
